@import url("general_foundicons.css");
.topmenu {
  background: #333333;
}
.content {
  margin-top: 20px;
}
table tr td.warning {
  background: yellow;
}
table tr td.alert {
  background: orange;
}
table tr td.emergency {
  background: red;
}
.pagination {
  font-size: 12px;
  line-height: 20px;
}
.pagination a {
  font-size: 14px;
  line-height: 20px;
}
.pagination a.current {
  padding: 2px 5px;
  background: #008cba;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  cursor: default;
}
.pagination a.paginate {
  padding: 2px 5px;
  border-radius: 2px;
}
.pagination a.paginate:hover {
  background: #333;
  color: white;
}
.agregarproveedor {
  margin: 0px 0 0 0;
  padding: 10px 0;
  width: 219px;
  height: 36px;
}
fieldset.total {
  margin-top: -8px;
}
.total h1 {
  text-align: right;
}

/* autocomplete */
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.item_id {
  display: none;
}

.pagaconrow1{
  width: 185px;
  margin-right: 0;
  padding-right: 0;
}
.pagaconrow2{
  width: 760px;
  margin-left: 0;
  padding-left: 0;
}
#pagacon {
  width: 200px;
  height: 50px;
  font-size: 37px;
  margin: 5px 0;
  padding-left: 40px;
}
.pagaconsign {
  position: absolute;
  top: 11px;
  left: 7px;
  font-size: 37px;
}
#graph01 {
  min-width: 500px;
  height: 400px;
  margin: 0 auto;
}
.fullwidth {
  width: 100%;
}
table tbody tr:first-child td.caja {
  background-color: #000;
  color: #fff;
}
.button.nomargin {
  margin: 0;
}
.totalreport {
  float: right;
  font-size: 20px;
  width: 245px;
  margin-top: 10px;
}
#bc-image{
  margin-top: 20px;
  opacity: 0.8;
}
#bc-image:hover{
  cursor: pointer;
  opacity: 1;
}
.top-bar-section ul li > p {
    width: 100%;
    color: white;
    padding: 0px 0 0px 0;
    margin: 0 20px 0 0;
    line-height: 45px;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12px;
}